
.case {
    position: relative;
    background: #F7F7FA;
    .case--curcle {
        left: 377px;
        top: 75.52px;
        position: absolute;
    }
    .case--right {
        top: -133px;
        right: 168px;
        position: absolute;
    }
    .case--left {
        left: 94px;
        top: -140px;
        position: absolute;
    }
}

.case__iner {
    .comp__text {
        margin-top: 89px;
        display: flex;
            align-items: center;
            flex-direction: column;
        .video__palochka {
            width: 69px;
            height: 5px;
            
            background: $gradient-primary-bg;
        }
        .video__title {
            position: relative;
            text-align: center;
            margin-bottom: 51px;   
            margin-top: 20px;
            @include lite--h2;
            
            .heavy--title {
                @include headings-h2;
            }
        }
    }
    .case__more {
        @include headings-h4;
        @include graddient;
        margin-top: 41px;
        margin-bottom: 88px;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: flex-end;
    }
    .case__blocks {
        display: flex;
        flex-direction: column;
        gap: 35px;
        .case--1, .case--2, .case--3 {
            border-radius: 10px 30px 30px 10px;
            border: 1px solid #E7DAED;
        }
        .case--1 {
            background: #F1F2FF;
        }
        .case--2 {
            background: #F0FFF7;
        }
        .case--3 {
            background: #FFF4F4;
        }
        .case__block {
            display: flex;
            }
            .case__b-text {
                padding:  66px 51px 91px 51px;
            }
            .case__b-h-3 {
                @include headings-h3;
                text-align: left;
                margin-bottom: 30px;
            }
            .case__b-def {
                @include default;
                max-width: 529px;
                margin-bottom: 60px;
            }
            .case__read {
                a {
                    display: flex;
                    align-items: center;
                }
                display: flex;
                align-items: center;
                
                gap: 5px;
                @include graddient;
                @include btn-lg;

                justify-content: flex-end;
            }
        
    }
}

@media (max-width: 1221px) {
    .case__iner .case__blocks .case__block {
        flex-direction: column;
    }
    .case__block {
        margin: 0 20vw;
    }
}

@media (max-width: 1005px) {
    .case .case--right {
        left: 70vw;
    }
    .case .case--left {
        left: 1vw;
    }
    .case .case--curcle {
        left: 30vw;
    }
}

@media (max-width: 755px) {
    .case__iner .case__blocks .case__b-def {
        
    }
    .case__block {
        margin: 0 0vw;
    }
    .case .case--left {
        display: none;
    }
    .case .case--curcle {
        display: none;
    }
}

@media (max-width: 385px) {
    .case__iner .case__blocks .case__b-text {
        padding: 51px 20px;
    }
}
