.path__iner {
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    .comp__text {
        margin-top: 93px;
        margin-bottom: 88px;
    }
    .path__b {
        position: relative;
    }
    .path__troph {
        display: flex;
        align-items: center;
        margin: 23px 0;
        gap: 6px;
        .path__tr-line {
            width: 100%;
            height: 2px;
            background: #F76680;
        }
    }
    .path--up {
        margin-left: 38px;
        & .path__b::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 30px;
            background: #F76680;
            left: 50%;
            margin-right: -50%;
            bottom: -45px;
            z-index: 10;
        }
    }
    .path--down {
        & .path__b::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 30px;
            background: #F76680 ;
            left: 50%;
            margin-right: -50%;
            top: -45px;
        }
        margin-left: 93px;
    }
    .path__blocks {
        .path__b-up {
            display: flex;
            
            gap: 81px;
            .path__b {
                width: 299px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 22px 33px 26px 21px;
                border-radius: 9px;
                border: 1px solid #E7DAED;
                background: $white;
                .path__b-h5 {
                    @include headings-h5;
                    color: #1A202C;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    text-align: left;
                    .path__b-gr {
                        @include graddient;
                    }

                }
                .path__b-span {
                    max-width: 245px;
                    color: $gray-gray-600;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                    letter-spacing: -0.07px;
                }
            }
        }
    }
}

@media (max-width: 995px) {
    .path__blocks {
        justify-content: center;
        display: flex;
    }
    .path__iner .path__blocks .path__b-up {
        flex-direction: column;
    }
    .path__iner .path__troph {
        margin: 0 2vw;
        flex-direction: column;
        .path__tr-line {
            width: 2px;
            height: 100%;
        }
    }
    .path__iner .path__blocks .path--up, .path__iner .path__blocks .path--down {
        margin-left: 0;
    }
    .path__iner .path--up .path__b::after, .path__iner .path--down .path__b::after {
        display: none;
    }
}

@media (max-width: 705px) {
    .path__iner .path__troph {
        display: none;
    }
    .path__blocks {
        gap: 10px;
    }

}

@media (max-width: 629px) {
    .path__iner .path__blocks {
        position: relative;
    }
    .path__iner .path__blocks .path__b-up {
        gap: 266px;
    }
    .path__iner .path__blocks .path--down {
        position: absolute;
        top: 213px;
    }
    .path__iner {
        margin-bottom: 298px;
    }
}