


.soft__iner {
    margin-bottom: 119px;
    .comp__text {
        margin-top: 79px;
        display: flex;
            align-items: center;
            flex-direction: column;
        .video__palochka {
            width: 69px;
            height: 5px;
            
            background: $gradient-primary-bg;
        }
        .video__title {
            position: relative;
            text-align: center;
            margin-bottom: 73px;   
            margin-top: 20px;
            @include lite--h2;
            
            .heavy--title {
                @include headings-h2;
            }
        }
    }
    .soft__blocks {
        display: flex;
        flex-direction: column;
        gap: 95px;
        .soft__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .soft__text {
            flex-direction: column;
            display: flex;
            .soft__b-title {
                margin-bottom: 30px;
                @include headings-h3;
                text-align: left;
            }
            .soft__b-para1 {
                margin-bottom: 10px;
                @include para-1;
                max-width: 534px;
            }
            .soft__b-para2 {
                margin-bottom: 20px;
                @include para-1;
                max-width: 503px;
                .soft--gr {
                    @include graddient;
                    
                }
            }
            .soft__b-qu {
                margin-bottom: 25px;
                display: flex;
                gap: 15px;

                .soft__galochka {
                    background: $gradient-primary-bg;
                    width: 3px;
                    height: auto;
                }
                .soft__qu {
                    @include graddient;
                    line-height: 30px;
                    max-width: 435px;
                }
            }
            .soft__prof {
                display: flex;
                align-items: center;
                gap: 10px;
                .soft__p-info {
                    .soft__p-name {
                        margin-bottom: 5px;
                        color: $gray-gray-900;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    .soft__p-comp {
                        color: $gray-gray-600;
                       
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }

        }
    }
}

// ``````` decor 

.soft__img {
    position: relative;
    .soft--circ1-1, .soft--circ1-2, .soft--circ1-3, .soft--circ2-1, .soft--circ2-2, .soft--circ2-3 {
        position: absolute;
        z-index: -1;
    }
    .soft--circ1-3 {
        left: 258px;
        top:  -18.975px;
    }
    .soft--circ2-3 {
        left: -20.01px;
        bottom: -15.008px;
    }
    .soft--circ1-2 {
        top: -13.973px;
        right: -8px;
    }
    .soft--circ2-2 {
        bottom: -35.017px;
        left: 73.025px;
    }
    .soft--circ1-1 {
        bottom: -15.008px;
        left: 242.995px;
    }
    .soft--circ2-1 {
        top: -25.012px;
        left: -25.012px;
    }
}

@media (max-width: 650px) {
    
} 



@media (max-width: 1193px) {
    .soft__iner .soft__blocks .soft__block  {
        flex-direction: column;
    }
    .soft__iner .soft__blocks .soft__block  {
        gap: 20px;
    }
   
}

@media (max-width: 703px) {
    .soft__iner .soft__blocks .soft__block .soft__img>img {
        width: 80vw;
    }
    .soft--circ1-3 {
        left: 45vw;
        top:  -3.30vw;
    }
    .soft--circ2-3 {
        left: -3.48vw;
        bottom: -2.61vw;
    }
    .soft--circ1-2 {
        top: -2.43vw;
        right: -1.39vw;
    }
    .soft--circ2-2 {
        bottom: -6.09vw;
        left: 12.70vw;
    }
    .soft--circ1-1 {
        bottom: -2.61vw;
        left: 42.26vw;
    }
    .soft--circ2-1 {
        top: -4.35vw;
        left: -4.35vw;
    }
}