

.video__iner {
    margin-bottom: 167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .video__text {
        max-width: 535px;
        .video__palochka {
            width: 69px;
            height: 5px;
            background: $gradient-primary-bg;
        }
        .video__title {
            margin-top: 20px;
            @include lite--h2;
            .heavy--title {
                @include headings-h2;
            }
        }
        .video__span {
            margin-top: 30px;
            margin-bottom: 51px;
            @include default-lg;
            .purple--title {
                cursor: pointer;
                @include graddient;
            }
        }
        .video__see a {
            display: flex;
            align-items: center;
            gap: 15px;
            @include headings-h6;
        }
    }
    .video__img {
        position: relative;
        .video__img--before {
            
            z-index: 90;
            
        }
    }
    .video__img--before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .video__img::after {
        content: '';
        position: absolute;
        width: 601px;
        height: 460px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.01);
        backdrop-filter: blur(2px);
        z-index: 10;
    }
}

@media (max-width: 995px) {
    .video__iner {
        flex-direction: column;
        .video__text {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 615px) {
    .video__img .video__img-img img {
        width: 80vw;
    }
    .video__iner .video__img::after {
        width: 80vw;
        height: auto;
    }
}